@page "/Download"


    <div class="col-md-12">
        <legend>Game Client Download</legend>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img style="height: 240px; object-fit: cover;" src="css/images/meganz.png">
                    <div class="caption">
                        <p><a class="btn btn-primary btn-block" href="https://drive.google.com">Download</a></p>
                        <p style="color: #333; padding: 0; text-align: center; margin: 0;">Mega</p>
                        <p style="color: #333; padding: 0; text-align: center;">Installer Patch 1</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img style="height: 240px; object-fit: cover;" src="css/images/google_drive.png">
                    <div class="caption">
                        <p><a class="btn btn-primary btn-block" href="https://mega.nz/">Download</a></p>
                        <p style="color: #333; padding: 0; text-align: center; margin: 0;">Google Drive</p>
                        <p style="color: #333; padding: 0; text-align: center;">Installer Patch 1</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img style="height: 240px; object-fit: cover;" src="css/images/mediafire.jpg">
                    <div class="caption">
                        <p><a class="btn btn-primary btn-block" href="https://www.mediafire.com/">Download</a></p>
                        <p style="color: #333; padding: 0; text-align: center; margin: 0;">MediaFire</p>
                        <p style="color: #333; padding: 0; text-align: center;">Installer Patch 1</p>
                    </div>
                </div>
            </div>
        </div>

    </div>


@code{

}
