@page "/News/{id}"
@inject NewDawnWeb.Services.NewsService newsService

<div class="panel panel-default">
    <div class="panel-heading">@news.Title</div>
    <div class="panel-body">
        @((MarkupString)news.HtmlDescription)
    </div>
    <div class="panel-footer text-right">@news.Publisher.Username - @news.PublishedDate</div>
</div>




@code {
    [Parameter]
    public string id { get; set; }

    public NewDawnWeb.Models.News news { get; set; }

    protected override void OnInitialized()
    {
        news = newsService.GetNews(Int32.Parse(id));

    }
}